@model CasaViewModel

<h1>Precios y descripciones de las casas con decoraciones</h1>

<h2>Casa lujosa</h2>
<p>Descripción: @Model.DescripcionCasaLujosa</p>
<p>Precio: @Model.PrecioCasaLujosa</p>

<h2>Casa normal</h2>
<p>Descripción: @Model.DescripcionCasaNormal</p>
<p>Precio: @Model.PrecioCasaNormal</p>

<h2>Casa económica</h2>
<p>Descripción: @Model.DescripcionCasaEconomica</p>
<p>Precio: @Model.PrecioCasaEconomica</p>


